@model VirtualWallet.Dto.ViewModels.UserViewModels.Login


<div>
    <div>Welcome back</div>
    <div>Please enter your Username and password.</div>

    @*    	<form  asp-controller="User" asp-action="Login" method="post">

    <div>
    @if (this.ViewData["ErrorMessage"] is not null)
    {
    <p>@this.ViewData["ErrorMessage"]</p>
    }
    </div>

    <div >
    <input asp-for="Username"  type="text" placeholder=" " />
    <span asp-validation-for="Username" ></span><br>
    <div ></div>
    <label asp-for="Username" >Username</label>
    </div>

    <div >
    <input asp-for="Password"  type="password" placeholder=" " />
    <span asp-validation-for="Password" ></span><br>
    <div ></div>
    <label asp-for="Password" >Password</label>
    </div>

    <form asp-controller="User" asp-action="Login" method="post">
    <div >
    <button type="submit" >Login</button>
    </div>
    </form>
    </form>*@

</div>
<form asp-controller="User" asp-action="Login" method="post">

    <div class="h-screen flex items-center justify-center">
        <div class="SimpleNoLabelsDesktop w-96 h-96 px-8 py-16 bg-white rounded-3xl border border-purple-400 flex-col justify-center items-center gap-8 inline-flex">
            <div class="Content self-stretch h-64 flex-col justify-start items-start gap-6 flex">
                <div class="Header self-stretch h-9 flex-col justify-start items-center gap-6 flex">
                    <div class="Headline self-stretch h-9 flex-col justify-start items-center gap-2 flex">
                        <div class="SignInToYourAccount text-center text-gray-900 text-3xl font-extrabold leading-9">Sign in to your account</div>
                    </div>
                </div>
                <div class="Frame74 self-stretch h-32 flex-col justify-start items-start gap-3 flex">
                    <div class="InputWithLabelMobile self-stretch h-16 flex-col justify-start items-start gap-1 flex">
                        <div class="Label text-gray-700 text-sm font-medium leading-tight">Username</div>
                        <input class="FormFieldsTextInput self-stretch px-3 py-2 bg-white rounded-md shadow border border-gray-300 justify-start items-center inline-flex" asp-for="Username" type="text" placeholder=" ">
                        <div class="Placeholder text-sm font-normal leading-tight">
                            @*<input asp-for="Username" type="text" placeholder=" " />*@
                            <span asp-validation-for="Username"></span><br>
                        </div>

                    </div>
                    <div class="InputWithLabelMobile self-stretch h-16 flex-col justify-start items-start gap-1 flex">
                        <div class="Label text-gray-700 text-sm font-medium leading-tight">Password</div>
                        <input class="FormFieldsTextInput self-stretch px-3 py-2 bg-white rounded-md shadow border border-gray-300 justify-start items-center inline-flex" asp-for="Password" type="password" placeholder=" ">
                        <div class="Placeholder text-sm font-normal leading-tight">
                            @*<input asp-for="Password" type="password" placeholder=" " />*@
                            <span asp-validation-for="Password"></span><br>
                        </div>
                    </div>
                </div>
                <button class="Button self-stretch px-4 py-2 bg-purple-500 rounded-md shadow justify-center items-center inline-flex" type="submit">
                    <div class="Text text-white text-sm font-medium leading-tight">
                        <form asp-controller="User" asp-action="Login" method="post">
                            <div>
                                <span>Sign in</span>
                            </div>
                        </form>
                    </div>
                </button>
            </div>
            <div>
                @if (this.ViewData["ErrorMessage"] is not null)
                {
                    <p>@this.ViewData["ErrorMessage"]</p>
                }
            </div>
        </div>
    </div>
</form>