@model VirtualWallet.Dto.ViewModels.UserViewModels.RegisterUser


<div class="h-full flex items-center justify-center  px-4">

    <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Register"
          class="flex mx-auto justify-center max-w-xl w-full px-8 py-8 bg-neutral-100 rounded-3xl shadow-2xl border-purple-400 border flex-col justify-center items-center inline-flex
				dark:bg-neutral-800 dark:border-puerple-400">

        <div class="mb-6 text-center text-gray-900 text-3xl font-extrabold dark:text-neutral-50">Sign up</div>

        <div class="flex flex-col w-full md:flex-row md:gap-2">
            <div class="flex-1 flex-col mb-4 justify-start items-start flex">
                <div class="text-gray-700 text-xs font-medium dark:text-neutral-400">First name</div>
                <input class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
                       asp-for="FirstName" type="text" placeholder=" ">
                <div class="text-sm font-normal text-red-600 leading-tight">
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>

            <div class="flex-1 flex-col mb-4 justify-start items-start flex">
                <div class="text-gray-700 text-xs font-medium dark:text-neutral-400">Last name</div>
                <input class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
                       asp-for="LastName" type="text" placeholder=" ">
                <div class="text-sm font-normal text-red-600 leading-tight">
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>

        <div class="flex flex-col w-full md:flex-row md:gap-2">
            <div class="flex-1 flex-col mb-4 justify-start items-start flex">
                <div class="text-gray-700 text-xs font-medium dark:text-neutral-400">Phone number</div>
                <input class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
                       asp-for="PhoneNumber" type="text" placeholder=" ">
                <div class="text-sm font-normal text-red-600 leading-tight">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>

            <div class="flex-1 flex-col mb-4 justify-start items-start flex">
                <div class="text-gray-700 text-xs font-medium dark:text-neutral-400">Email</div>
                <input class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
                       asp-for="Email" type="text" placeholder=" ">
                <div class="text-sm font-normal text-red-600 leading-tight">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </div>

        <div class="w-full mb-4 flex-col justify-start items-start flex">
            <div class="text-gray-700 text-xs font-medium dark:text-neutral-400">Username</div>
            <input class="self-stretch px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
                   asp-for="Username" type="text" placeholder=" ">
            <div class="text-sm font-normal text-red-600 leading-tight">
                <span asp-validation-for="Username"></span>
            </div>
        </div>

        <div class="w-full mb-6 flex-col justify-start items-start flex">
            <div class="text-gray-700 text-xs font-medium dark:text-neutral-400">Password</div>
            <input class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
                   asp-for="Password" type="password" placeholder=" ">
            <div class="text-sm font-normal text-red-600 leading-tight">
                <span asp-validation-for="Password"></span>
            </div>
        </div>

        <div class="w-full mb-6 flex-col justify-start items-start flex">
            <div class="text-gray-700 text-xs font-medium dark:text-neutral-400">Profile Picture</div>
            <label class="block">
                <span class="sr-only">Choose File</span>
                <input type="file" accept="image/*" asp-for="ProfilePic" class="block w-full text-sm text-purple-500 file:mr-4 file:py-2 file:px-4 file:rounded-full 
                                        file:border-0 file:text-sm file:font-medium file:bg-purple-500 file:text-neutral-50 hover:file:bg-purple-400 transition duration-300" />
            </label>
        </div>
        @if (this.ViewData["ErrorMessage"] is not null)
        {
            <span class="text-red-600 text-base mb-4">
                @this.ViewData["ErrorMessage"]
            </span>
        }

        <button class="w-full px-4 py-4 bg-purple-500 rounded-md shadow justify-center items-center inline-flex hover:bg-purple-400 transition duration-300" type="submit">
            <div class="text-neutral-50 text-sm font-medium">
                <div class="text-sm">
                    <span>Sign up</span>
                </div>
            </div>
        </button>

    </form>
</div>