<div class="flex flex-col items-center justify-center h-full py-24">
    <div class="flex flex-col justify-center text-lg text-neutral-950 gap-6 mb-12 sm:w-5/12 w-7/12 sm:text-xl lg:text-3xl dark:text-neutral-50">
        <span class="text-center inline-block">Sparki Wallet is our final project for C# Alpha Track. You can check out the repo 
            <a href="https://gitlab.com/project-one-group-five/virtual-wallet" class="font-semibold text-purple-400 transition duration-300 hover:text-purple-300">here</a>.
        </span>
        <span class="text-center inline-block font-semibold">If you have any questions or offers don't hesitate to contact us through the links below!</span>
    </div>
    <div class="flex flex-col gap-8 sm:flex-row">
        <div class="flex flex-col h-fit gap-6 items-center justify-center text-neutral-950 dark:text-neutral-50">
            <a href="https://www.linkedin.com/in/atanas-iliev-4ab1a3289">
                <div class="border-4 rounded-full border-purple-400 relative transition duration-300 ease-in-out hover:-translate-y-2">
                    <img class="rounded-full sm:h-32 h-24" src="~/assets/naskophotobw.png" />
                    <img class="rounded-full absolute top-0 sm:h-32 h-24 opacity-0 hover:opacity-100 transition duration-300" src="~/assets/originalprofilepics/naskoPhoto.png" />
                </div>
            </a>
            <div class="font-semibold">
                Atanas
            </div>
        </div>
        <div class="flex flex-col h-fit gap-6 items-center justify-center text-neutral-950 dark:text-neutral-50">
            <a href="https://www.linkedin.com/in/nikolai-gigov-b02021287">
                <div class="border-4 rounded-full border-purple-400 relative transition duration-300 ease-in-out hover:-translate-y-2">
                    <img class="rounded-full sm:h-32 h-24" src="~/assets/nikiphotobw.png" />
                    <img class="rounded-full absolute top-0 sm:h-32 h-24 opacity-0 hover:opacity-100 transition duration-300" src="~/assets/originalprofilepics/nikiphoto.jpeg" />
                </div>
            </a>
            <div class="font-semibold">
                Nikolai
            </div>
        </div>
        <div class="flex flex-col h-fit gap-6 items-center justify-center text-neutral-950 dark:text-neutral-50">
            <a href="https://www.linkedin.com/in/lilova">
                <div class="border-4 rounded-full border-purple-400 relative transition duration-300 ease-in-out hover:-translate-y-2">
                    <img class="rounded-full sm:h-32 h-24" src="~/assets/katrinphotobw.png" />
                    <img class="rounded-full absolute top-0 sm:h-32 h-24 opacity-0 hover:opacity-100 transition duration-300" src="~/assets/originalprofilepics/katrinphoto.png" />
                </div>
            </a>
            <div class="font-semibold">
                Katrin
            </div>
        </div>
    </div>
</div>