@model VirtualWallet.Dto.ViewModels.HomePageViewModel                        <div class="text-gray-900 text-base font-medium leading-normal">Menu item 1</div>
                    </div>
                    <div class="rounded-md justify-start items-center flex">
                        <div class="text-gray-900 text-base font-medium leading-normal">Menu item 2</div>
                    </div>
                    <div class="rounded-md justify-start items-center flex">
                        <div class="text-gray-900 text-base font-medium leading-normal">Menu item 3</div>
                    </div>
                </div>
            </div>
            <div class="h-6 justify-end items-start gap-3 flex">
                <div class="justify-start items-center gap-6 flex">
                    <div class="rounded-md justify-start items-center flex">
                        <div class="text-gray-900 text-base font-medium leading-normal">Log in</div>
                    </div>
                </div>
                <div class="justify-start items-center gap-6 flex">
                    <div class="rounded-md justify-start items-center flex">
                        <div class="text-gray-900 text-base font-medium leading-normal">/</div>
                    </div>
                </div>
                <div class="justify-start items-center gap-6 flex">
                    <div class="rounded-md justify-start items-center flex">
                        <div class="text-gray-900 text-base font-medium leading-normal">Sign up</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p>Already @this.Model.usersCount users believed in us and @this.Model.transactionsCount transactions were made.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
