@model VirtualWallet.Dto.ViewModels.HomePageViewModel

<div class="px-4 xl:px-24">
	<div class="flex flex-col mt-32 xl:mt-64 xl:flex-row">

		<div class="flex flex-1 flex-col justify-center items-center text-neutral-950 font-bold dark:text-neutral-50">
			<div class="max-w-2xl w-fit text-4xl text-center xl:text-left md:w-full md:text-6xl xl:text-7xl">
				A better way
				<div class="w-full text-purple-400 text-center xl:text-left dark:text-purple-400">
					to send money
				</div>
				<div class="hidden text-lg font-thin mt-6 md:block">
					Welcome to Sparki Wallet, where you can store your money without the fear of losing it in your couch cushions! With our app, you can easily keep track of your finances and make transactions with just a few clicks.
				</div>
			</div>
		</div>

		<div class="flex flex-1 justify-center items-center mt-24 xl:mt-0">
			<div class="ml-0 xl:ml-24">
				<img src="~/assets/home/creditcard.png" class="block dark:hidden h-72 md:h-80 xl:h-96 flex-shrink-0" />
				<img src="~/assets/home/creditcarddark.png" class="hidden dark:block h-72 md:h-80 xl:h-96 flex-shrink-0" />
			</div>
		</div>

	</div>


	<div class="flex justify-center items-center w-full mt-32 mb-32 xl:mt-64 text-3xl md:text-4xl xl:text-5xl">
		<div class="w-fit text-neutral-950 text-center font-medium dark:text-neutral-50">
			Already <span class="text-purple-400">21</span> users believe in us and <span class="text-purple-400">321</span> transactions have been made!
		</div>
	</div>
</div>