<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
@*    <title>@ViewData["Title"] - VirtualWalletWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VirtualWalletWeb.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="w-96 h-24 py-6 flex-col justify-start items-center inline-flex">
            <div class="h-14 px-6 flex-col justify-start items-start flex">
                <div class="self-stretch justify-between items-center gap-96 inline-flex">
                    <div class="justify-start items-center gap-10 flex">
                        <div class="w-24 h-14 bg-gray-900"></div>
                        <div class="justify-start items-center gap-8 flex">
                            <div class="rounded-md justify-start items-center flex">
                                <div class="text-gray-900 text-base font-medium leading-normal">Menu item 1</div>
                            </div>
                            <div class="rounded-md justify-start items-center flex">
                                <div class="text-gray-900 text-base font-medium leading-normal">Menu item 2</div>
                            </div>
                            <div class="rounded-md justify-start items-center flex">
                                <div class="text-gray-900 text-base font-medium leading-normal">Menu item 3</div>
                            </div>
                        </div>
                    </div>
                    <div class="h-6 justify-end items-start gap-3 flex">
                        <div class="justify-start items-center gap-6 flex">
                            <div class="rounded-md justify-start items-center flex">
                                <div class="text-gray-900 text-base font-medium leading-normal">Log in</div>
                            </div>
                        </div>
                        <div class="justify-start items-center gap-6 flex">
                            <div class="rounded-md justify-start items-center flex">
                                <div class="text-gray-900 text-base font-medium leading-normal">/</div>
                            </div>
                        </div>
                        <div class="justify-start items-center gap-6 flex">
                            <div class="rounded-md justify-start items-center flex">
                                <div class="text-gray-900 text-base font-medium leading-normal">Sign up</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - VirtualWalletWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
