@{
	string SuccessMessage = this.ViewBag.SuccessMessage ?? "Operation successful!";
}
<div class="h-full flex items-center justify-center px-4">
	<div class="flex mx-auto justify-center max-w-md w-full px-8 py-8 bg-neutral-100 rounded-3xl shadow-2xl border-purple-400 border flex-col justify-center items-center inline-flex
				dark:bg-neutral-800 dark:border-puerple-400">

		<img src="~/assets/purplesuccessicon.png" class="h-20 block mb-4" alt="Successful" />
		<div class="mb-4 text-center text-neutral-900 text-xl font-extrabold dark:text-neutral-50">@SuccessMessage</div>

		<button class="w-28 px-1 py-3 bg-purple-500 rounded-md shadow justify-center items-center inline-flex hover:bg-purple-400 transition duration-300" type="submit">
			<div class="text-neutral-50 text-sm font-medium">
				<div class="text-sm">
					<a asp-controller="Home" asp-action="Index" class="py-4">Home page</a>
				</div>
			</div>
		</button>

	</div>
</div>
