@using VirtualWallet.Dto.ViewModels.CurrencyViewModels;
@model VirtualWallet.Dto.ViewModels.WalletTransactionViewModels.CreateWalletTransactionViewModel

<div class="h-full flex flex-col items-center justify-center px-4">
	<div class="flex mx-auto justify-center max-w-sm w-full px-8 py-8 bg-neutral-100 rounded-3xl shadow-2xl border-purple-400 border flex-col justify-center items-center inline-flex
				dark:bg-neutral-800 dark:border-puerple-400">

		<div class="mb-4 text-center text-neutral-900 text-3xl font-extrabold dark:text-neutral-50">Transaction details</div>

		<!-- Currency -->
		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Currency</label>
			<select disabled asp-for="CurrencyId" name="CurrencyId" id="currency-select" class="border px-2 border-purple-400 cursor-pointer rounded-full drop-shadow-md w-full duration-300 bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50">
				<option value="" disabled selected>Select a currency</option>
				@foreach (var currency in ViewData["Currencies"] as List<CurrencyViewModel>)
				{
					<option value="@currency.Id">@currency.Code</option>
				}
			</select>
		</div>

		<!-- Amount -->
		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<div class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Amount</div>
			<input class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
				   asp-for="Amount" type="text" readonly>
		</div>

		<!-- Recipient -->
		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Recipient</label>
			<select disabled asp-for="RecipientIdentifier" class="border px-2 border-purple-400 cursor-pointer rounded-full drop-shadow-md w-full bg-neutral-50
								dark:bg-neutral-800 dark:text-neutral-50">
				<option value="" disabled selected>Select an identifier</option>
				<option value="Username">Username</option>
				<option value="Email">Email</option>
				<option value="Phonenumber">Phone number</option>
			</select>
		</div>

		<div class="w-full mb-6 flex-col justify-start items-start flex">
			<label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Recipient identifier</label>
			<input class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
				   asp-for="RecipientIdentifierValue" type="text" readonly>
			<div class="text-sm font-normal text-red-600 leading-tight">
			</div>
		</div>

		<div class="w-full flex md:flex-row flex-col justify-center items-center gap-3">
			<form asp-controller="WalletTransaction" asp-action="CreateWalletTransaction" method="get" class="w-full md:flex-1">
				<input type="hidden" asp-for="CurrencyId">
				<input type="hidden" asp-for="Amount">
				<input type="hidden" asp-for="RecipientIdentifier">
				<input type="hidden" asp-for="RecipientIdentifierValue">
				<button class="h-fit w-full p-3 bg-purple-500 text-neutral-50 rounded-md shadow hover:bg-purple-400 focus:outline-none transition duration-300" type="submit">
					Edit
				</button>
			</form>
			<form asp-controller="WalletTransaction" asp-action="FinalizeWalletTransaction" method="post" class="w-full md:flex-1">
				<input type="hidden" asp-for="CurrencyId">
				<input type="hidden" asp-for="Amount">
				<input type="hidden" asp-for="RecipientIdentifier">
				<input type="hidden" asp-for="RecipientIdentifierValue">
				<button class="h-fit w-full p-3 bg-purple-500 text-neutral-50 rounded-md shadow hover:bg-purple-400 focus:outline-none transition duration-300" type="submit">
					Confirm
				</button>
			</form>
		</div>
	</div>
</div>