@using VirtualWallet.Dto.ViewModels.CurrencyViewModels;

@model VirtualWallet.Dto.ViewModels.WalletTransactionViewModels.CreateWalletTransactionViewModel

<div class="h-full flex flex-col items-center justify-center px-4">
	<form class="flex mx-auto justify-center max-w-sm w-full px-8 py-8 bg-neutral-100 rounded-3xl shadow-2xl border-purple-400 border flex-col justify-center items-center inline-flex
				dark:bg-neutral-800 dark:border-puerple-400" asp-controller="WalletTransaction" asp-action="ConfirmWalletTransaction" method="post">

		<div class="mb-8 text-center text-neutral-900 text-3xl font-extrabold dark:text-neutral-50">Transaction details</div>

		<!-- Currency -->
		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Currency</label>
			<select asp-for="CurrencyId" class="cursor-pointer rounded-full py-1 px-3 w-full bg-neutral-200 dark:bg-neutral-700 dark:text-neutral-50">
				@foreach (var currency in ViewData["Currencies"] as List<CurrencyViewModel>)
				{
					<option value="@currency.Id">@currency.Code</option>
				}
			</select>
			@*<span asp-validation-for="CurrencyId"></span>*@
		</div>

		<!-- Amount -->
		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Amount</label>
			<input asp-for="Amount" type="text" class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400" name="amount" x-model="amount">
			@* <span asp-validation-for="Amount"></span> *@
		</div>

		<!-- Recipient -->
		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Recipient identifier</label>
			<select asp-for="RecipientIdentifier" class="cursor-pointer rounded-full py-1 px-3 w-full bg-neutral-200 dark:bg-neutral-700 dark:text-neutral-50">
				<option value="Username">Username</option>
				<option value="Email">Email</option>
				<option value="Phonenumber">Phone number</option>
			</select>
		</div>

		<div class="w-full mb-8 flex-col justify-start items-start flex">
			<label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Recipient identifier value</label>
			<input class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400"
				   asp-for="RecipientIdentifierValue" type="text">
			<div class="text-sm font-normal text-red-600 leading-tight">
			</div>
		</div>

		@if (this.ViewData["ErrorMessage"] is not null)
		{
			<span class="text-center text-red-600 text-base mb-4">
				@this.ViewData["ErrorMessage"]
			</span>
		}
		<button class="h-fit w-full p-3 bg-purple-500 text-neutral-50 rounded-md shadow hover:bg-purple-400 focus:outline-none transition duration-300" type="submit">
			Submit
		</button>
	</form>
</div>