<div class="h-full flex items-center justify-center px-4">

    <div class="flex mx-auto justify-center max-w-md w-full px-8 py-8 bg-neutral-100 rounded-3xl shadow-2xl border-purple-400 border flex-col justify-center items-center inline-flex
				dark:bg-neutral-800 dark:border-puerple-400">

        <div class="mb-4 text-center text-neutral-900 text-3xl font-extrabold dark:text-neutral-50">Block user @this.ViewBag.userUsernameToBlock</div>

        <div class="mb-8 text-center text-neutral-900 text-sm font-extrabold dark:text-neutral-50">Confirm your action</div>




        @if (this.ViewData["ErrorMessage"] is not null)
        {
            <span class="text-red-600 text-base mb-4">
                @this.ViewData["ErrorMessage"]
            </span>
        }
        @if (this.ViewData["ErrorMessage"] is null)
        {
            <form asp-controller="Admin" asp-action="Block" asp-route-id="@this.ViewBag.userIdToBlock" method="post" class="w-full mb-2 flex-col justify-start items-start flex">
                <button class="w-full px-4 py-4 bg-purple-500 rounded-md shadow justify-center items-center inline-flex focus:outline-none hover:bg-purple-400 transition duration-300" type="submit">

                    <div class="text-neutral-50 text-base font-medium">
                        Block
                    </div>

                </button>
            </form>
        }

        @*<button class="w-full px-4 py-4 bg-purple-500 rounded-md shadow justify-center items-center inline-flex hover:bg-purple-400 transition duration-300" type="submit">
            <div class="text-neutral-50 text-sm font-medium">
                <div class="text-sm">
                    <a asp-controller="Admin" asp-action="SearchUser">Admin Panel</a>
                </div>
            </div>
        </button>*@
        <form asp-controller="Admin" asp-action="SearchUser" method="get" class="w-full mb-2 flex-col justify-start items-start flex">
            <button class="w-full px-4 py-4 bg-purple-500 rounded-md shadow justify-center items-center inline-flexfocus:outline-none hover:bg-purple-400 transition duration-300" type="submit">

                <div class="text-neutral-50 text-sm font-medium">
                    Admin panel
                </div>

            </button>
        </form>

    </div>

</div>