@model VirtualWallet.Dto.ViewModels.CardViewModels.CardViewModel

@{
    var viewModelJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<head>
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
	<!-- <link rel="stylesheet" href="./assets/styles/styles.css" /> -->
	<script defer src="https://unpkg.com/alpinejs@3.2.2/dist/cdn.min.js"></script>
</head>

<div class="h-full flex items-center justify-center">
	<form method="post" asp-action="Update" asp-controller="Card" x-data="creditCard"
		  class="flex mx-auto justify-center w-80 px-8 py-8 bg-neutral-100 rounded-3xl shadow-2xl border-purple-400 border flex-col justify-center items-center inline-flex sm:w-96 dark:bg-neutral-800 dark:border-puerple-400">

		<div class="mb-4 text-center text-neutral-900 text-3xl font-extrabold dark:text-white">Card details</div>

		<div class="flex flex-col justify-center items-center mb-4">
			<div class="relative"
				 x-show="card === 'front'"
				 x-transition:enter="transition ease-out duration-300"
				 x-transition:enter-start="opacity-0 transform scale-90"
				 x-transition:enter-end="opacity-100 transform scale-100">
				<img class="w-full h-auto" src="~/assets/addcardfront.png" alt="front credit card">
				<div class="front bg-transparent w-full text-neutral-50 px-7 absolute left-0 bottom-4">
					<p class="number mb-2 -mt-1 text-sm sm:text-lg" x-text="formattedCardNumber"></p>
					<div class="flex flex-row justify-between">
						<p class="text-sm" x-text="cardholder !== '' ? cardholder : 'Card holder'"></p>
						<div class="text-sm">
							<span x-text="expired.month !== '' ? expired.month : '00'"></span>
							<span>/</span>
							<span x-text="expired.year !== '' ? expired.year : '0000'"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="relative"
				 x-show="card === 'back'"
				 x-transition:enter="transition ease-out duration-300"
				 x-transition:enter-start="opacity-0 transform scale-90"
				 x-transition:enter-end="opacity-100 transform scale-100">
				<img class="w-full h-auto" src="~/assets/addcardback.png" alt="">
				<div class="bg-transparent text-neutral-950 text-sm w-full flex justify-end absolute bottom-20 px-4 sm:bottom-24 sm:px-6">
					<p x-text="securityCode !== '' ? securityCode : '000'"></p>
				</div>
			</div>
		</div>

		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<div class="text-neutral-700 text-xs font-medium dark:text-neutral-400">Card number</div>

			<input type="text" class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex dark:bg-neutral-700 dark:text-white focus:outline focus:outline-purple-400"
				   maxlength="16" x-model="cardNumber" asp-for="CardNumber" />

			<div class="text-sm font-normal text-red-600 leading-tight">
				<span asp-validation-for="CardNumber"></span>
			</div>
		</div>

		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<div class="text-neutral-700 text-xs font-medium dark:text-neutral-400">Card holder</div>

			<input type="text" class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex dark:bg-neutral-700 dark:text-white focus:outline focus:outline-purple-400"
				   maxlength="30" x-model="cardholder" asp-for="CardHolder" />

			<div class="text-sm font-normal text-red-600 leading-tight">
				<span asp-validation-for="CardHolder"></span>
			</div>
		</div>

		<div class="w-full mb-4 flex-col justify-start items-start flex">
			<div class="text-neutral-700 text-xs font-medium dark:text-neutral-400">Expiry date</div>

			<div class="grid grid-cols-2 sm:grid-cols-4 gap-3">
				<div class="col-span-1 sm:col-span-2">
					<input type="text" name="expirationMonth"
						   class="form-input appearance-none block w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex dark:bg-neutral-700 dark:text-white focus:outline focus:outline-purple-400"
						   maxlength="2" placeholder="MM" x-model="expired.month" asp-for="ExpirationMonth" />

					<div class="text-sm font-normal text-red-600 leading-tight">
						<span asp-validation-for="ExpirationMonth"></span>
					</div>
				</div>

				<div class="col-span-1 sm:col-span-2">
					<input type="text" name="expirationYear"
						   class="form-input appearance-none block w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex dark:bg-neutral-700 dark:text-white focus:outline focus:outline-purple-400"
						   maxlength="4" placeholder="YYYY" x-model="expired.year" asp-for="ExpirationYear" />

					<div class="text-sm font-normal text-red-600 leading-tight">
						<span asp-validation-for="ExpirationYear"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="w-full mb-6 flex-col justify-start items-start flex">
			<div class="text-neutral-700 text-xs font-medium dark:text-neutral-400">Security code</div>

			<input type="text" class="block w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex dark:bg-neutral-700 dark:text-white focus:outline focus:outline-purple-400"
				   maxlength="3" x-model="securityCode" x-on:focus="card = 'back'"
				   x-on:blur="card = 'front'" asp-for="CheckNumber" />

			<div class="text-sm font-normal text-red-600 leading-tight">
				<span asp-validation-for="CheckNumber"></span>
			</div>
		</div>

		<button type="submit" class="w-full px-4 py-4 bg-purple-500 rounded-md shadow justify-center items-center inline-flex hover:bg-purple-400 transition duration-300">
			<div class="text-white text-sm font-medium">Update card</div>
		</button>
	</form>

	<script defer>
		document.addEventListener("alpine:init", () => {
			Alpine.data("creditCard", () => ({
				init() {
					console.log('Component mounted');
					const viewModelData = @Html.Raw(viewModelJson);
					this.cardholder = viewModelData.CardHolder;
					this.cardNumber = viewModelData.CardNumber;
					this.currency = viewModelData.CurrencyCode;
					this.expired.month = viewModelData.ExpirationMonth;
					this.expired.year = viewModelData.ExpirationYear;
					this.securityCode = viewModelData.CheckNumber;

					this.formattedCardNumber = this.formatCardNumber();
				},
				formatCardNumber() {
					const cardNumber = this.cardNumber || '0000 0000 0000 0000';
					return cardNumber.replace(/\s+/g, "").replace(/(\d{4})/g, "$1 ");
				},
				card: 'front',
				cardholder: '',
				cardNumber: '',
				expired: {
					month: '',
					year: '',
				},
				securityCode: '',
			}));
		});
	</script>
</div>