
<div class="flex flex-col items-baseline m-10">
    <div>
        Dasboard
    </div>

<div class=" mx-32 mb-10 mt-60 border rounded-xl border-neutral-400 items-baseline">
    <div class="w-20 h-40 border-2 border-neutral-800 rounded-tl-xl">


</div>
    <div class="w-20 h-40 border-2 border-neutral-800">
    </div>
    <div class="w-20 h-40 border border-neutral-800">
    </div>
    <div class="w-20 h-40 border border-neutral-800 rounded-bl-xl">
    </div>

</div>
</div>