<div class="flex justify-center items-center h-full py-12 md:py-24">
    <div class="flex flex-col h-full bg-neutral-100 text-neutral-950 rounded-xl border border-purple-400 w-5/6 dark:bg-neutral-800 dark:text-neutral-50 lg:w-3/6 sm:w-4/6">

        <div class="flex flex-row w-full h-12 rounded-t-xl border-b border-neutral-300 text-[10px] font-semibold md:text-base dark:border-neutral-700">
            <a asp-controller="Dashboard" asp-action="Index" method="get" class="flex justify-center items-center flex-1 w-full p-2 rounded-tl-xl transition duration-300 hover:bg-neutral-200 dark:hover:bg-neutral-700">
                Main
            </a>
            <a asp-controller="Dashboard" asp-action="Exchanges" method="get" class="flex justify-center items-center flex-1 w-full p-2 text-neutral-950 bg-neutral-200 dark:text-neutral-50 dark:bg-neutral-700">
                Exchanges
            </a>
            <a asp-controller="Dashboard" asp-action="Exchanges" method="get" class="flex justify-center items-center flex-1 w-full p-2 transition duration-300 hover:bg-neutral-200 dark:hover:bg-neutral-700">
                Transactions
            </a>
            <a asp-controller="Dashboard" asp-action="Exchanges" method="get" class="flex justify-center items-center flex-1 w-full p-2 rounded-tr-xl transition duration-300 hover:bg-neutral-200 dark:hover:bg-neutral-700">
                Transfers
            </a>
        </div>

        <div class="flex flex-col w-full overflow-x-auto border border-purple-400 shadow-2xl rounded-2xl inline-block min-w-full align-middle">
            <table class="w-full">

                <thead class="bg-neutral-50 dark:bg-neutral-800">
                    <tr>
                        <th scope="col" class="px-4 py-3.5 text-sm text-center text-neutral-500 dark:text-neutral-400">From</th>

                        <th scope="col" class="px-4 py-3.5 text-sm text-center text-neutral-500 dark:text-neutral-400">To</th>

                        <th scope="col" class="px-4 py-3.5 text-sm text-center text-neutral-500 dark:text-neutral-400">Amount</th>

                        <th scope="col" class="px-4 py-3.5 text-sm text-center text-neutral-500 dark:text-neutral-400">Rate</th>

                        <th scope="col" class="px-4 py-3.5 w-1/6 text-sm text-center text-neutral-500 dark:text-neutral-400">Exchanged Amount</th>

                        <th scope="col" class="px-4 py-3.5 text-sm text-center text-neutral-500 dark:text-neutral-400">Date</th>

                        @*<th scope="col" class="px-4 py-3.5 text-sm text-center text-neutral-500 dark:text-neutral-400">Confirmed</th>

                        <th scope="col" class="px-4 py-3.5 text-sm text-center text-neutral-500 dark:text-neutral-400">Status</th>

                        <th scope="col" class="px-4 py-3.5 text-sm text-center text-neutral-500 dark:text-neutral-400">Block/UnBlock</th>*@
                    </tr>
                </thead>

                <tbody class="bg-white divide-y divide-neutral-200  dark:divide-neutral-700 dark:bg-neutral-900">



                    <tr>
                        @*<td class="flex flex-row items-center px-4 py-4 font-medium text-sm text-neutral-700 whitespace-nowrapg gap-2">

                        <img class="object-cover w-7 h-7 mt-4 rounded-full md:mt-0" src="defaultProfilePicPath">


                        <img class="object-cover w-7 h-7 mt-4 rounded-full md:mt-0" src="user.ProfilePicPath">

                        <div class="h-fit text-sm text-neutral-500 dark:text-neutral-300 whitespace-nowrap">
                        user.FirstName user.LastName
                        </div>
                        </td>*@

                        <td class="text-center px-4 py-4 text-sm text-neutral-500 dark:text-neutral-300 whitespace-nowrap">USD</td>

                        <td class="text-center px-4 py-4 text-sm text-neutral-500 dark:text-neutral-300 whitespace-nowrap">EUR</td>

                        <td class="text-center px-4 py-4 text-sm text-neutral-500 dark:text-neutral-300 whitespace-nowrap">1000</td>



                        <td class="text-center px-4 py-4 text-sm text-neutral-500 dark:text-neutral-300 whitespace-nowrap">0.9</td>

                        <td class="text-center px-4 py-4 text-sm text-neutral-500 dark:text-neutral-300 whitespace-nowrap">900t</td>

                        <td class="text-center px-4 py-4 text-sm text-neutral-500 dark:text-neutral-300 whitespace-nowrap">
                            17:42 23/06/2023
                        </td>
                        @*
                        <td class="px-4 py-4 text-sm font-inter text-neutral-700 whitespace-nowrap">



                        </td>


                        <td class="px-4 py-4 text-base text-neutral-50 whitespace-nowrap items-center">


                        </td>*@

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
