@import "tailwindcss\base";
@import "tailwindcss\components";
@import "tailwindcss\utilities";

/*@layer base {

    :root {
        --color-text: #0a0a0a;
        --color-background: #fafafa;
        --color-primary: #7e21cf;
        --color-secondary: #d4d4d4;
        --color-accent: #a855f7;
    }

        :root[class~="dark"] {
            --color-text: #fafafa;
            --color-background: #0a0a0a;
            --color-primary: #7e21cf;
            --color-secondary: #171717;
            --color-accent: #a855f7;
        }
}*/