@import "tailwindcss\base";
@import "tailwindcss\components";
@import "tailwindcss\utilities";

@layer {
    .invisible-scrollbar {
        scrollbar-width: none;
    }

    .thin-scrollbar {
        scrollbar-width: thin;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #737373;
    }

    .star-dark {
        position: absolute;
        width: 3px;
        height: 3px;
        background: #fff;
        right: 0;
    }

    .star {
        position: absolute;
        width: 3px;
        height: 3px;
        background: black;
        right: 0;
    }

    .carousel-item[data-pos="0"] {
        box-shadow: 0 0 15px #c084fc;
    }

    .carousel-item[data-pos="-1"] {
        transform: translateX(-110%) scale(0.9);
    }

    .carousel-item[data-pos="1"] {
        transform: translateX(110%) scale(0.9);
    }

    .carousel-item[data-pos="-2"], .carousel-item[data-pos="2"] {
        opacity: 0.3;
        filter: blur(1.5px);
    }

    .carousel-item[data-pos="-1"], .carousel-item[data-pos="1"] {
        opacity: 0.6;
        filter: blur(1px);
    }

    .carousel-item[data-pos="-2"] {
        transform: translateX(-210%) scale(0.9);
    }

    .carousel-item[data-pos="2"] {
        transform: translateX(210%) scale(0.9);
    }

    .background-animate {
        background-size: 180%;
        -webkit-animation: gradient-animation 5s ease infinite;
        -moz-animation: gradient-animation 5s ease infinite;
        animation: gradient-animation 5s ease infinite;
    }

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }
}

@layer components {
    .off-stage {
        @apply opacity-0 translate-x-[100%] transition duration-[1500ms];
    }

    .on {
        @apply translate-x-0 opacity-100;
    }
}
